#canvas {
  border: 1px solid black;
}

#messageLog {
  float: right;
  height: 100%;
  border: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 55px;
  margin-right: 55px;
  overflow-y: scroll;
}

.errorMessage {
  color: red;
}

#buildingDataStructure {
  float: left;
  padding-right: 7px;
  border-right: 1px solid black;
}

#pointLocation {
  float: left;
  padding-left: 7px;
}

